<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="card">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, msg in messages %}
                    <div class="flash {{ category }}">{{ msg }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="buttons">
            <a class="btn btn-primary btn-block" href="/add_bike">Добавить велосипед</a>
            <a class="btn btn-primary btn-block mt-10" href="/view">Мои велосипеды</a>
            <a class="btn btn-primary btn-block mt-10" href="/add_anthropometry">Ввести антропометрию</a>
            <a class="btn btn-primary btn-block mt-10" href="/canvas">Построить посадку</a>
            <a class="btn btn-primary btn-block mt-10" href="/compare">Сравнить посадки</a>

            {% if session.get('user_role') == 'moderator' %}
                <a class="btn btn-info btn-block mt-10" href="/moderation">Модерация</a>
            {% endif %}
        </div>

        <a class="btn btn-danger text-center" href="/logout">Выйти</a>
    </div>
</body>
</html>